{
    "presets": ["next/babel"],
    "plugins": [
      [
        "module-resolver",
        {
          "root": ["./"],
          "alias": {
            "@components": "./components",
            "@styles": "./styles",
            "@public": "./public",
            "@slices": "./slices",
            "@sagas": "./sagas",
            "@store": "./store",
            "@lib": "./lib"

          }
        }
      ]
    ]
  }